<div class="flex items-center justify-center h-screen bg-zinc-700">
    <div class="bg-zinc p-2 mx-6 rounded-2xl">
        <div class="flex flex-col md:flex-row rounded-l-xl">
            <div class="w-full md:w-1/2 bg-zinc-700 p-4 rounded-l-xl">
                <h2 class="text-2xl font-semibold text-gray-700 text-center mb-4">Customer Form</h2>
                <form action="#" method="POST">
                    <!-- Personal Details -->

                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
                        <div>
                            <label class="labelClass">Ονοματεπώνυμο</label>
                            <input type="text" pInputText placeholder="Enter name" class="w-full" />
                        </div>
                        <div>
                            <label class="labelClass">Email</label>
                            <input pInputText type="email" placeholder="Enter email" class="w-full" />
                        </div>
                        <div>
                            <label class="labelClass">Phone</label>
                            <input pInputText type="tel" placeholder="Enter phone" class="w-full" />
                        </div>
                        <div>
                            <label class="labelClass">Date of Birth</label>
                        </div>
                    </div>

                    <!-- Address Details -->

                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div>
                            <label class="labelClass">Street</label>
                            <input pInputText type="text" placeholder="Enter street" class="w-full" />
                        </div>
                        <div>
                            <label class="labelClass">City</label>
                            <input pInputText type="text" placeholder="Enter city" class="w-full" />
                        </div>
                        <div>
                            <label class="labelClass">State</label>
                            <input pInputText type="text" placeholder="Enter state" class="w-full" />
                        </div>
                        <div>
                            <label class="labelClass">ZIP Code</label>
                            <input pInput Text type="text" placeholder="Enter ZIP code" class="w-full" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
