<div class="flex flex-row-reverse gap-2 mt-4">
    <div>
        <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition">{{ saveButtonTitle() }}</button>
    </div>
    <div>
        <button class="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600 transition">{{ cancelButtonTitle() }}</button>
        <!-- <p-button label="{{ cancelButtonTitle() }}" [pt]="bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600 transition"></p-button> -->
    </div>
</div>
